html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;

}



.paint {
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}

header {
  grid-column: 1 /span 2;
  grid-row: 1;
}

.color-picker {
  border: none;
}

.color-picker input {
  opacity: 0;
  position: absolute;
}

.color-picker span {
  content: '';
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  margin: 1em; 
  border: 2px dotted rgb(46, 45, 45);
  transition: 0.3s;
  border-radius: 25px;
}

.color-picker label {
  cursor: pointer;
}
.color-picker label:hover span {
  transform: scale(1.5);
}
.color-picker input:checked + span {
  transform: scale(1.5);
  border: 2px solid rgb(46, 45, 45);
}

.select-colors {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.new-colors-btn {
  box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size: 1.2em;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
  height: 80%;
  margin: 1em;

}

.new-colors-btn:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}


.canvas-container {
  grid-column: 1 /span 2;
  grid-row: 2;
  margin: 0 5em;
  text-align: center;
}

.image-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



/* .App {
  text-align: center;
  overflow: hidden;
}
 */



/* .window-size.hidden {
  opacity: 0;
  transition: 1s;
} */

canvas {
  border: 2px solid gold;
  
}