html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;

}

<<<<<<< HEAD
.App {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50px auto;
}

header {
  grid-column: 1 /span 3;
  grid-row: 1;

}

.name-container {
  display: block;
  text-align: center;
}
=======

>>>>>>> aaeb2b380c7683e150ddda12447926f11e188308

input {
  border: 1px solid #d3d3d3;
}

main {
  grid-column: 1 /span 3;
  grid-row: 2;
}


.painter-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}


/* sounds buttons css */
.sound-btns {
  grid-column: 1 /span 1;
  grid-row: 1;
  display: block;
  margin: auto;
}

.sound-btns button {background-image: linear-gradient(to right, #83a4d4 0%, #b6fbff  51%, #83a4d4  100%)}
.sound-btns button {
   margin: 10px;
   padding: 5px 15px;
   text-align: center;
   font-family: monospace;
   font-weight: 800;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
   border: none;
   cursor: pointer;
 }

 .sound-btns button:hover {
   background-position: right center; /* change the direction of the change here */
   color: gold;
   text-decoration: none;
   border: 1px solid gold;
 }


/* canvas css*/
.canvas-container {
  grid-column: 2 /span 1;
  grid-row: 1;
}

canvas {
  border: 2px solid gold; 
}

/*color picker css*/
.select-colors {
  grid-column: 3 /span 1;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.color-picker {
  border: none;
  display: flex;
  margin-bottom: 20px;
}

.color-picker input {
  opacity: 0;
  position: absolute;
}

.color-picker span {
  content: '';
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  margin: 1em; 
  border: 2px dotted rgb(46, 45, 45);
  transition: 0.3s;
  border-radius: 25px;
}

.color-picker label {
  cursor: pointer;
}
.color-picker label:hover span {
  transform: scale(1.5);
}
.color-picker input:checked + span {
  transform: scale(1.5);
  border: 2px solid rgb(46, 45, 45);
}

/* refresh colors button css*/
.new-colors-btn {background-image: linear-gradient(to right,  #83a4d4 0%, #b6fbff  51%, #83a4d4  100%)}
.new-colors-btn {
   margin: auto;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
   border: none;
   cursor: pointer;
   width: 70%;
   font-family: monospace;
   font-weight: 600;
   font-size: 20px;
 }

 .new-colors-btn:hover {
   background-position: right center; /* change the direction of the change here */
   color: gold;
   text-decoration: none;
   border: 1px solid gold;
 }


<<<<<<< HEAD
=======
.canvas-container {
  grid-column: 1 /span 2;
  grid-row: 2;
  margin: 0 5em;
  text-align: center;
}

.image-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



/* .App {
  text-align: center;
  overflow: hidden;
}
 */



/* .window-size.hidden {
  opacity: 0;
  transition: 1s;
} */

canvas {
  border: 2px solid gold;
  
}
>>>>>>> aaeb2b380c7683e150ddda12447926f11e188308
